body, p, h1, ul, li, blockquote {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu";
  width: 100vh;
  height: 100vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* GRID GERAL */

.sidenav{
  grid-area: sidenav;
  height: 100vw;
}

.content{
  grid-area: content;
  height: 100vw;
}

.anuncios {
  background: yellow;
  grid-area: anuncios;
}

.gridAnuncios{
  grid-area: gridAnuncios ;
  background: springgreen;
}

.paginicial {
  grid-area: paginicial;
}

.grid {
 /*  height: 100px;
  width: 100vh; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "sidenav content anuncios"
    "sidenav paginicial"
    ;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-areas:
      "sidenav content anuncios"
    ;
  }
}

@media (max-width: 760px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-areas:
      "sidenav"
      "content"
      "anuncios"   
    ;
  }
}

/* SIDENAV */

.sidenav {
  border-right: 1px solid rgb(216, 226, 226); 
}
.posicaonav {
  padding: 30px;
  position: fixed;
  left: 200px;
}

.posicaonav li a {
  display: block;
  min-width: 60px;
  max-width: auto;
  margin: 0 auto 5px auto;
  background: white;
  padding: 10px;
  border-radius: 5px;
  transition: .1s ease-out; 
}

.posicaonav li a:hover {
  background: rgb(200, 250, 219);
  fill: rgb(29,161,242,1.00);
}

span:hover{
  color: rgb(29,161,242,1.00);
}

.item {
  color: black;
  font-weight: bold;
  font-size: 19px;
  padding: 20px; 
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 1400px) {
  .item {
    display: none;
  }
}

@media (max-width: 760px) {
  .sidenav {
    height: auto;
  }
  .posicaonav {
    position: relative;
    left: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .posicaonav::after {
    content: '→';
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0,0,0,.3);
    animation: seta .5s ease-in 0s infinite alternate;
  }
  .posicaonav ul {
    display: flex;
  }
  .posicaonav li {
    flex: 1 0 60px;
  }
  .posicaonav li a {
    margin: 10px 10px 10px 0;
  }
}

/* CONTENT */
.content {
  border-right: 1px solid rgb(216, 226, 226); 
}
.paginicial {
  border-bottom: 1px solid rgb(216, 226, 226);
  
}
.paginicial h3 {
  margin: 0 auto 10px 0;  
  padding: 10px;
}
.colunaTwitter{
  border-bottom: 1px solid rgb(216, 226, 226);
}
.containerPostar{
  border-bottom: 10px solid rgb(216, 226, 226); 
}

.fotoUsuario {
  grid-area: fotoUsuario;
  cursor: pointer;/*tipo mouse*/
  width:50px;/*largura*/
  height:50px;/*altuea*/
  border-radius:50px;
  margin: 0 auto 10px 0;  
  padding: 10px;
}

.tweetar{
  grid-area: tweetar;
  background: rgb(87, 14, 75);
  outline: 0; /*remove contorno azul*/ 
  width: 200px;  /*largura */
  height: 50px; /*altura */
  font-weight: bold;/*negrito*/
  font-size: 15px;
  border-left: none; /*cor da borda*/
  border-right: none;
  border-bottom: none; 
  border-top: none;
}

.containerImgInput {
  display: grid; 
  grid-template-areas:
    "fotoUsuario tweetar";  
}

/* ANUNCIOS */



